modules = ["flutter", "nodejs-20", "dart", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Flutter Web"
author = 40359398
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter pub get"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter run -d web-server --web-port=5000 --web-hostname=0.0.0.0"

[[workflows.workflow]]
name = "Flutter Web Server"
author = 40359398
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter build web"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run"
author = 40359398
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "flutter build web"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Simple Fitness Server"

[[workflows.workflow]]
name = "Simple Fitness Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node simple-server.js"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "flutter run -d web-server --web-port=5000 --web-hostname=0.0.0.0"]
build = ["sh", "-c", "flutter build web"]

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 5173

[[ports]]
localPort = 5002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 43717
