modules = ["flutter", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Node Express Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Tests"

[[workflows.workflow]]
name = "Node Express Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Tests"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx jest"

[deployment]
run = ["sh", "-c", "cd /home/runner/workspace && flutter run -d web-server --web-port 5000 --web-hostname 0.0.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34841
externalPort = 5000

[[ports]]
localPort = 35945
externalPort = 6000

[[ports]]
localPort = 37681
externalPort = 5173

[[ports]]
localPort = 38565
externalPort = 3001

[[ports]]
localPort = 39951
externalPort = 3000

[[ports]]
localPort = 42375
externalPort = 3002

[[ports]]
localPort = 44019
externalPort = 4200

[[ports]]
localPort = 46831
externalPort = 3003
